*{
    margin: 0px;
    padding: 0px;
    font-family: Franklin Gothic Medium, sans-serif;
    box-sizing: border-box;
  }

  body{
    background-color: rgb(19, 19, 19);
  }

header{
    position: sticky;
    width: 100%;
    padding: 0px 0px;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: rgb(31, 31, 31);
  
}

img{
    width: 78px;  
}

li{
    list-style-type: none;
}

a{
 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#heroo{
  display: flex;
  justify-content: center;
    position: relative;
}

#heroo img{
    width: 100%;
    filter: brightness(34%);
    margin-bottom: 34px;
}


.abso{
    position: absolute;
    top: 33%;
    left: 15%;
    color: #fff;
    z-index: 5;
}

.absolu{
    position: absolute;
    top: 33%;
    left: 12%;
    color: #fff;
    z-index: 5;
}
.activ{
    position: relative;
    margin-top: 12px;
}

.abso h1{
    font-size: 72px;
    
    margin-bottom: 32px;
}

.absolu h3{
    font-size: 42px;
   
    margin-bottom: 32px;
}

.abso p{
    font-size: 19px;
    text-align: center;
    margin-bottom: 16px;
}

.absolu p{
    width: 60%;
    font-size: 19px;
    text-align: left;
    margin-bottom: 16px;
}

.reserv{
  display: block;
  width: fit-content;
    border-radius: 50px;
    padding: 9px 18px;
    background-color: rgba(81, 12, 142, 0.932);
    color: #fffdfd;
   margin: auto;
   margin-top: 10%;
  font-size: 34px;
}

#content{
  width: 100%;
}

.activ img{
    object-fit: cover;
    height: 400px;
    width: 90%;
   margin-left: 55px;
   filter: brightness(62%);
}

.activ a{
  display: block;
  width: fit-content;
    border-radius: 50px;
    padding: 5px 18px;
    background-color: rgba(81, 12, 142, 0.932);
    color: #ffffff;
}

#contentpre{
    margin-left: 48px;
    display: flex;
    gap: 200px;
    position: relative;
}

.presenta h4{
    font-size: 21px;
    font-weight: 700;
}

.presenta{
    width: 39%;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.card{
    width: 25%;
  }

#contentpre {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-right: 34px;
    padding: 8px;
    border-radius: 16px;
    gap: 190px;
  }

.card{
    align-items: center;
    background-color: rgba(163, 163, 163, 0);
    margin-top: 32px;
    width: 95%;
    border-radius: 16px;
}

  .card h4 {
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(255, 253, 253);
  }

  .card p {
    color: rgb(255, 255, 255);
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .card img {
    width: 100%;
    border-radius: 3% 3% 0% 0%;
  }

  #map{
    margin: auto;
    height: 350px;
    width: 600px;
  }

  .carte{
    width: 15%;
  }

#contenttemoi {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-right: 34px;
    padding:  20px 35px;
    border-radius: 16px;
    gap: 30px;
  }

.carte{
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-top: 2px;
    padding: 20px 15px;
    width: 25%;
    border-radius: 16px;
}

  .carte .com {
    text-align: center;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 9px;
    color: rgb(255, 255, 255);
  }

  .carte .type {
    text-align: center;
    color: rgb(255, 0, 119);
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 9px;
  }

  .carte p {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 9px;
  }

#contentavan{
  display: flex;
  justify-content: center;
}

  .avantage{
    width: 340px;
    text-align: center;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #4c1471;
    border-radius: 4px;
    padding: 13px 12px;

  }

  footer{ /*Fin de page*/
    text-align: center;
    background-color: #484848;
    
  }

  .fin{ /*Nav de fin*/
    margin: auto;
    display: inline-block;
    margin-bottom: 13px;

  }

.fotter{ /*Adresse email et numéro de téléphone*/
    margin-top: 12px;
}

.deuxmile{ /*Tout droit réservé*/
    color: white;
    font-size: 12px;
}

.note{
  text-align: center;
  color: yellow;
}

h5{
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  color: #7b22b6;
  font-size: 45px;
}