*{ /*Enlève toutes le bordures et nous laissent les modifiers comme ont le veux*/
    margin: 0px;
    padding: 0px;
    font-family: Franklin Gothic Medium, sans-serif;
    box-sizing: border-box;
  }
 
  body{ /*Mettre un fond a la page internet*/
    background-color: rgb(19, 19, 19);
  }

header{ /*Taille du header*/
    position: sticky;  /*reste attacher a la position donner*/
    top: 0; /*position du header au quel il doit rester attacher*/
    z-index: 10; /*profondeur et donc mit en avant ou non*/
    width: 100%; /*largeur du header*/
    padding: 0px 0px; /*largeur et hauteur interieur du header*/
}

.nav{ /*Met la navbare côte à côte et les met au centre*/
  display: flex; /*met ses enfants côtes à côtes*/
  justify-content: center; /*justifie sont contenu au milieu*/
  align-items: center; /*mets les items au centre, et les centres entre eux*/
  gap: 60px; /*espacements*/
  background-color: rgb(31, 31, 31); /*couleurs de fonds*/
  
}

img{ /*Taille du logo*/
    width: 78px;  
}

li{ /*Style des liste*/
    list-style-type: none;
}

a{ /*Décoration et couleur des a*/
  text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600; /*épaisseur du texte*/
}

a:hover{ /*Animation qui agrandi le a quand la souris passe dessus*/
  transform: scale(1.2); /*aggrandi le contenu*/
  transition: all .3s ease-in-out; /*La durée de l'animation, pendant et après*/
}

li:hover{  /*Animation qui agrandi le a quand la souris passe dessus*/
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}
/*Met le hero côte à côte et au centre*/
#heroo{
  display: flex;
  justify-content: center;
    position: relative; /*Permet de mettre du texte par dessus*/
}

#heroo img{ /*taille de l'image*/
    width: 100%;
    filter: brightness(34%); /*Filtre qui assombri ou éclaire l'image*/
    margin-bottom: 34px; /*espacement en bas du contenu*/
}


.abso{ /*Position absolute qui permet de placer un texte au dessus d'un contenu en position relative*/
    position: absolute;
    top: 33%; /*poistion en haut */
    left: 15%; /*position à gauche */
    color: #fff;
    z-index: 5; /*Profondeur du texte*/
}

.absolu{ /*Position absolute qui permet de placer un texte au dessus d'un contenu en position relative*/
    position: absolute;
    top: 33%;
    left: 12%;
    color: #fff; /*couleur du texte*/
    z-index: 5; /*Profondeur du texte*/
}
.activ{
    position: relative; /*Permet de mettre du texte par dessus*/
    margin-top: 12px; /*espacement en haut du contenu*/
}

.abso h1{ /*Taille du titre*/
    font-size: 72px; /*taille du texte*/
    
    margin-bottom: 32px; 
}

.absolu h3{ /*Taille du titre*/
    font-size: 42px;
   
    margin-bottom: 32px;
}

.abso p{ /*Taille et centrage du texte*/
    font-size: 19px;
    text-align: center; /*centre les textes*/
    margin-bottom: 16px;
}

.absolu p{
    width: 60%;
    font-size: 19px;
    text-align: left;
    margin-bottom: 16px;
}

.reserv{ /*Bouton réserve*/
  display: block;
  width: fit-content; /*Fait en sorte de s'adapter à son contenu*/
    border-radius: 50px; /*Arrondi les bords*/
    padding: 9px 18px;
    background-color: rgba(81, 12, 142, 0.932);
    color: #fffdfd; /*couleur du texte*/
   margin: auto;
   margin-top: 10%;
  font-size: 34px;
}

#content{ /*Taille du content*/
  width: 100%;
}

.activ img{ /*Taille de l'images et fait en sorte de ne pas l'applatir*/
    object-fit: cover;
    height: 400px;
    width: 90%;
   margin-left: 55px;
   filter: brightness(52%); /*Filtre qui assombri ou éclaire l'image*/
}

.activ a{ /*Bouton a*/
  display: block;
  width: fit-content; /*S'adapte a son contenu*/
    border-radius: 50px;
    padding: 5px 18px;
    background-color: rgba(81, 12, 142, 0.932);
    color: #ffffff; /*couleur du texte*/
}

#contentpre{ /*Les présentations, leur espacement, et leur position*/
    margin-left: 48px;
    display: flex;
    gap: 200px; 
    position: relative;/*Position*/
}

.presenta h4{ /*Taille du titre*/
    font-size: 21px;
    font-weight: 700;
}

.presenta{ /*taille des présentation et leurs couleurs*/
    width: 39%;
    font-size: 14px;
    text-align: left;
    color: #fff; /*couleur du texte*/
}

.card{ /*taille des cartes*/
    width: 25%;
  }

#contentpre { /*position des présentations et arrondi leurs bords*/
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-right: 34px;
    padding: 8px;
    border-radius: 16px;
    gap: 190px;
  }

.card{ /*tailles des cartes, arrondi leur bords, et leur fond de couleur*/
    align-items: center;
    background-color: rgba(163, 163, 163, 0);
    margin-top: 32px;
    width: 95%;
    border-radius: 16px;
}

  .card h4 { /*taille du titre*/
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(255, 253, 253); /*couleur du texte*/
  }

  .card p { /*couleur et position des textes*/
    color: rgb(255, 255, 255); /*couleur du texte*/
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .card img { /*taille de l'image et ses bords arrondi en haut mais neutre en bas*/
    width: 100%;
    border-radius: 3% 3% 0% 0%;
  }

  #map{ /*taille de la map et son positionnement*/
    margin: auto;
    margin-top: 12px;
    height: 300px; /*hauteur*/
    width: 750px; /*largeur*/
  }

  .carte{  /*taille des cartes*/
    width: 15%;
  }

#contenttemoi { /*les témoignages, leur taille, leur caractéristique, leur positions, les bords arrondi*/
    flex-wrap: wrap;/*position en cascades*/
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-right: 34px;
    padding:  20px 35px;
    border-radius: 16px;
    gap: 30px;
  }

.carte{ /*mettre les items au milieu, leur fond de couleurs, la tailles qu'ils peuvent prendre par rapport a leur parents*/
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-top: 2px;
    padding: 20px 15px;
    width: 25%;
    border-radius: 16px;
}

  .carte .com { /*Les noms des témoignages au milieu, leur couleurs et leur positionement*/
    text-align: center;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 9px;
    color: rgb(255, 255, 255); 
  }

  .carte .type { /*Type d'escape games, leurs couleurs, leurs positionement*/
    text-align: center;
    color: rgb(255, 0, 119); 
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 9px;
  }

  .carte p { /*texte des témoignages, leur couleurs et positionement*/
    text-align: center;
    color: rgb(255, 255, 255); /*couleur du texte*/
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 9px;
  }

#contentavan{  /*Les avantages*/
    display: flex;
    justify-content: center;
    position: relative; /*Permet de mettre du texte par dessus*/
}

  .avantage{ /*tailles des avantages, leur positions, leur couleurs de fond et de textes, les bords arrondi*/
    margin-top: 21px;
    position: absolute;
    top: 33%;
    left: 12%;
    color: #fff; /*couleur du texte*/
    z-index: 5; /*Profondeur du texte*/
  }

  #contentavan img{
    width: 23%;
    margin-left: 23px;
    margin-right: 12px;
  }

  footer{ /*Fin de page*/
    text-align: center;
    background-color: #484848;
    
  }

  .fin{ /*Nav de fin*/
    margin: auto;
    display: inline-block;
    margin-bottom: 13px;

  }

.footer{ /*Adresse email et numéro de téléphone*/
    margin-top: 12px;
}

.deuxmile{ /*Tout droit réservé*/
    color: white; 
    font-size: 12px;
}

.note{ /*position des notes, et leur couleurs*/
  text-align: center;
  color: yellow; 
}

h5{ /*tailles des titre*/
  margin-top: 34px; 
  margin-bottom: 34px; 
  text-align: center; 
  color: #7b22b6; 
  font-size: 45px; 
}

i{
  margin-right: 12px;
}

